<%= render 'layouts/shared/notice' %>

<div class="row">
  <div class="col-md-10 offset-md-1  text-center">
    <h2 class="my-4">Tipos de perfiles</h2>
  </div>
</div>

<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombres</th>
          <th scope="col">Estado</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @profiles.each_with_index  do |profile, index | %>

          <tr>
            <td> <%= index + 1  %></td>
            <td><%= profile.name %> </td>
            <td>
              <% if  profile.enable %>
              Habilitado
              <% else %>
              Deshabilitado
              <% end %>

            </td>
            <td><%= link_to 'Editar', edit_profile_path(profile) %></td>

            <td>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-10 offset-lg-1 d-flex justify-content-center">
    <%= link_to 'Nuevo perfil', new_profile_path , class: "btn btn-primary mr-2" %>
  </div>



</div>