<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">Bienvenido</h4>
        <p class="font-weight-light text-muted mb-0">Control y seguimiento</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">

    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-designations" aria-expanded="false" aria-controls="ui-designations">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Designacion actividades y </span><span class="pl-3">responsables</span>
      </a>


      <div class="collapse" id="ui-designations">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= designations_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Lista de Actividades</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= new_designation_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Nuevo Actividad</span></a></li>
        </ul>
      </div>
    </li>


    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-company" aria-expanded="false" aria-controls="ui-company">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Entidades</span>
      </a>


      <div class="collapse" id="ui-company">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= companies_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Lista de Entidades</span></a></li>
        </ul>
      </div>
    </li>

    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-engineers" aria-expanded="false" aria-controls="ui-engineers">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Ingenieros</span>
      </a>


      <div class="collapse" id="ui-engineers">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= engineers_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Lista de ingenieros</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= new_engineer_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Nuevo ingenieros</span></a></li>
        </ul>
      </div>
    </li>

    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-profiles" aria-expanded="false" aria-controls="ui-profiles">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Configuración</span>
      </a>


      <div class="collapse" id="ui-profiles">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= profiles_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Perfiles</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= areas_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Areas</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= modalities_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Modalidades</span></a></li>
          <li class="nav-item">
            <a style="padding-left: 22px" class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-s-admin" aria-expanded="false" aria-controls="ui-s-admin">
              <span class="sm-icons-fa"> </span>
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Seguimiento Administrador</span>
            </a>

            <div class="collapse" id="ui-s-admin">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a style="font-size: 15px; padding-left:22px" class="nav-link text-dark font-italic bg-light" href="<%= items_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Item especificos</span></a></li>
              </ul>
            </div>

          </li>

        </ul>
      </div>
    </li>










    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-leader" aria-expanded="false" aria-controls="ui-leader">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Empleados</span>
      </a>


      <div class="collapse" id="ui-leader">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= workers_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Lista de Empleado</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= new_worker_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Nuevo Empleado</span></a></li>
        </ul>
      </div>
    </li>

    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-responsible" aria-expanded="false" aria-controls="ui-responsible">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Rol Responsable</span>
      </a>


      <div class="collapse" id="ui-responsible">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= responsible_functions_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Lista de Roles Responsable</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= new_responsible_function_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Nuevo Rol Responsable</span></a></li>
        </ul>
      </div>
    </li>

    <li class="nav-header mb-0 nav-item">
      <a class="nav-link text-dark font-italic bg-light" data-toggle="collapse" href="#ui-theme" aria-expanded="false" aria-controls="ui-theme">
        <span class="sm-icons-fa"> </span>
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i><span class="menu-title ">Asuntos</span>
      </a>


      <div class="collapse" id="ui-theme">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= themes_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Lista de Asuntos</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark font-italic bg-light" href="<%= new_theme_path %>"><i class="fa fa-th-large mr-4 text-primary fa-fw"></i><span>Nuevo Asuntos</span></a></li>
        </ul>
      </div>
    </li>

  </ul>
</div>