<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Navbar scroll</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">


    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">


      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="licitation" role="button" data-toggle="dropdown" aria-expanded="false">
            Segto licitaciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="licitation">
            <li><a class="dropdown-item" href="<%= offers_path %>">Lista de licitaciones</a></li>
            <li><a class="dropdown-item" href="<%= new_offer_path %>">Nuevo licitacion</a></li>
          </ul>
        </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Companies" role="button" data-toggle="dropdown" aria-expanded="false">
          Segto Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="Companies">
          <li><a class="dropdown-item" href="<%= admin_controls_path %>">Lista de Seguimientos</a></li>
          <li><a class="dropdown-item" href="<%= new_admin_control_path %>">Nuevo Seguimiento</a></li>
        </ul>
      </li>


        <% if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Companies" role="button" data-toggle="dropdown" aria-expanded="false">
        Entidades
        </a>
        <ul class="dropdown-menu" aria-labelledby="Companies">
          <li><a class="dropdown-item" href="<%= companies_path %>">Lista de entidades</a></li>
          <li><a class="dropdown-item" href="<%= new_company_path %>">Nuevo entidad</a></li>
        </ul>
      </li>
        <% end %>


        <% if current_user.role_id == User.ADMINISTRATOR  or  current_user.role_id == User.EDITOR %>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="students" role="button" data-toggle="dropdown" aria-expanded="false">
          Practicantes
          </a>
          <ul class="dropdown-menu" aria-labelledby="students">
            <li><a class="dropdown-item" href="<%= students_path %>">Lista de Practicante</a></li>
            <li><a class="dropdown-item" href="<%= states_students_path %>">Estados de los estudiantes</a></li>
            <li><a class="dropdown-item" href="<%= universities_path %>">Universidades</a></li>
            <li><a class="dropdown-item" href="<%= titles_path %>">Grado academico</a></li>


          </ul>
        </li>
        <% end %>

        <% if current_user.role_id == User.ADMINISTRATOR  or  current_user.role_id == User.EDITOR %>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Workers" role="button" data-toggle="dropdown" aria-expanded="false">
          Empleados
        </a>
        <ul class="dropdown-menu" aria-labelledby="Workers">
          <li><a class="dropdown-item" href="<%= workers_path %>">Lista de Empleados</a></li>
          <li><a class="dropdown-item" href="<%= new_worker_path %>">Nuevo Empleados</a></li>
        </ul>
      </li>
        <% end %>

        <% if current_user.role_id == User.ADMINISTRATOR || current_user.role_id == User.EDITOR %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="settings" role="button" data-toggle="dropdown" aria-expanded="false">
          Configuración
        </a>

        <ul class="dropdown-menu" aria-labelledby="settings">
          <li><a class="dropdown-item" href="<%= themes_path %>">Asuntos</a>
          <li><a class="dropdown-item" href="<%= concepts_path %>">Conceptos</a></li>
          <li><a class="dropdown-item" href="<%= items_path %>">Items Especificos</a></li>
          <li><a class="dropdown-item" href="<%= modalities_path %>">Modalidad</a></li>
          <li><a class="dropdown-item" href="<%=  responsible_functions_path %>">Rol Responsable</a></li>
          <li><a class="dropdown-item" href="<%= types_path %>">Tipos</a> </li>

        </ul>
      </li>
          <% end %>


        <% if current_user.role_id == User.ADMINISTRATOR %>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="settings" role="button" data-toggle="dropdown" aria-expanded="false">
          G.U.R
        </a>

        <ul class="dropdown-menu" aria-labelledby="settings">
          <li><a class="dropdown-item" href="<%= users_path %>">Usuarios</a>
          <li><a class="dropdown-item" href="<%= new_navigator_path %>">Nuevo usuario</a> </li>
          <li><a class="dropdown-item" href="<%= register_books_path %>">Registro Sgto. Admin</a> </li>
          <li><a class="dropdown-item" href="<%= register_books_offer_path %>">Registro Sgto. Licitaciones</a> </li>

        </ul>
      </li>
      <% end %>


<% end %>
    </ul>




    <form class="d-flex" style="">
      <div class="dropdown">
        <div class="btn-group">
          <div class="btn-group dropleft" role="group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-menu">
          <% unless user_signed_in? %>
          <%= link_to "Iniciar Sesion", "/users/sign_in" , class: "form-control" %>
          <% end %>
          <% if user_signed_in? %>
            <h6 class="dropdown-header" ><%= current_user.email %></h6>
            <%= link_to "Cambiar contraseña",edit_user_registration_path(current_user.id) , class:"dropdown-item" %>
            <%= link_to "Cerrar sesion", destroy_user_session_path , method: :delete , class:"dropdown-item"%>
          <% end %>
      </div>
          </div>
        </div>



      </div>
    </form>
  </div>
</nav>