<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="card card-margin">

      <%= bootstrap_form_with(model: student, local: true,html: { class: "forms-sample needs-validation", novalidate: true }) do |form| %>

        <% if student.errors.any? %>
          <div id="error_explanation" style="display: none">
            <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
            <ul>
              <% student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div id="accordion">


          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0" style="display: inline" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Datos Personales
                </a>
                <% route = "students" %>
                <%= render "layouts/views_partials/link_to_back_form_especial",route: route %>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="row no-gutters">


                  <div class="col-lg-12">
                    <div class="form-group">
                      <%= form.select(:states_student_id, options_for_select(@c_states_students, student.states_student_id), { label: t('students.states_student') ,:prompt => 'Selecciona un estado',class: "form-control " ,required: true}) %>
                    </div>
                  </div>

                  <div class=" col-lg-6 pr-2">
                    <div class="form-group">
                           <%= form.text_field :name,label: t('students.name'), class: "form-control", required: "true"  %>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.text_field :last_name, label: t('students.last_name'),class: "form-control", required: "true"  %>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">

                      <%= form.select(:type_identification_id, options_for_select(@identification_types, student.type_identification_id), { label: t('students.type_identification') ,:prompt => 'Selecciona un Tipo de identificacion',class: "form-control " ,required: true}) %>
                     </div>
                  </div>

                  <div class="col-lg-6 pr-2">
                    <div class="form-group">
                      <%= form.text_field :identification, label: t('students.identification'),class: "form-control", required: "true"   %>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.text_field :issued_in ,label: t('students.issued_in'), class: "form-control"  %>
                    </div>
                  </div>

                  <div class="col-lg-6 pr-2">
                    <div class="form-group">
                       <%= form.text_field :birthday , {label: t('students.birthday'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , readonly: false , required: true}  %>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.text_field :age,label: t('students.age'), class: "form-control" %>
                    </div>
                  </div>


                  <div class="col-lg-6 pr-2" id="select_picker">
                    <div class="form-group">
                       <%= form.select(:city_id, options_for_select(@cities, student.city_id), {label:t('offer.location'),:prompt => 'Selecciona un ciudad'},{class: "selectpicker" , required: true , data: { live_search: 'true' }}) %>
                    </div>
                  </div>

                  <div class="col-lg 6">
                    <%= form.text_field :address , label: t('students.address'), class: "form-control" , required: "true" %>
                  </div>

                  <div class="col-lg-6 pr-2">
                    <div class="form-group">

                      <%= form.text_field :phone,label: t('students.phone') ,class: "form-control" ,required: "true" %>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">

                      <%= form.text_field :phone_2,label: t('students.phone_2') ,class: "form-control"  %>
                    </div>
                  </div>

                  <div class="col-lg-6 pr-2">
                    <div class="form-group">

                      <%= form.text_field :mail , label: t('students.mail') ,class: "form-control", required: "true"  %>
                    </div>

                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.text_field :mail_2 , label: t('students.mail_2'),class: "form-control"  %>
                    </div>
                  </div>




                </div>
              </div>
            </div>
          </div>



          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Datos Universidad
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="row no-gutters">
                  <div class="col-lg-12">


                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <%= form.select(:university_id, options_for_select(@universities, student.university_id), {label:t('students.university'),:prompt => 'Selecciona una universidad'},{class: "form-control selectpicker" , required: true , data: { live_search: 'true' }}) %>
                    </div>
                  </div>

                  <div class="col-lg-6 pr-2">
                    <div class="form-group">
                      <%= form.select(:title_id, options_for_select(@titles, student.title_id), {label:t('students.title'),:prompt => 'Selecciona un grado'},{class: "form-control selectpicker" , required: true , data: { live_search: 'true' }}) %>
                    </div>
                  </div>

                  <div class="col-lg-6 ">
                    <div class="form-group">
                      <%= form.text_field :semester , label: t('students.semester'), class: "form-control" , required: true  %>
                    </div>
                  </div>

                  <div class="col-lg-12">
                     <%= form.text_field :career ,label: t('students.career') ,  class: "form-control" , required: true %>
                  </div>

                  <div class="col-lg-12">
                    <%= form.text_field :link_university , label:t('students.Link_university'),class: "form-control"  %>
                  </div>

                  <div class="col-lg-12">
                    <%= form.rich_text_area :body_1 , label: t('students.process') %>
                  </div>




                </div>
              </div>
            </div>
          </div>



          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Empresa
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="row no-gutters">

                  <div class="col-lg-6 pr-2">
                    <%= form.select(:leader_first , options_for_select(@workers, student.leader_first), { label: t('students.leader_1') ,:prompt => 'Selecciona un lider',class: "form-control " ,required: true}) %>
                  </div>

                  <div class="col-lg-6">
                       <%= form.select(:leader_second , options_for_select(@workers, student.leader_second), { label: t('students.leader_2') ,:prompt => 'Selecciona un lider',class: "form-control " ,required: true}) %>
                  </div>

                  <div class="col-lg-12">
                    <%= form.text_field :link_data , label: t('students.link_data'), class: "form-control mt-3"  %>
                  </div>

                  <div class="col-lg-12">
                    <%= form.rich_text_area :body_2 , {label:t('students.function'),class: 'mt-3'}%>
                  </div>



                  <div class="col-lg-12 text-center">
                       <%= form.label "Trabajador actual" ,class:"pl-3" %> <br>
                      <%= form.radio_button :current_worker, true , {label: 'Si' } %>
                      <%= form.radio_button :current_worker, false , {label: 'No' } %>

                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Calificacíón
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div class="row no-gutters">
                  <div class="col-lg-12">
                    <%= form.text_field :score ,label: "Puntaje", class: "form-control"  %>
                  </div>
                  <div class="col-lg-12">
                    <%= form.text_area :comment, size: '20x3', maxlength: "140" , label: "Comentario:" ,class: "form-control mt-3" %>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="actions text-center my-4">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', students_path ,class: "btn btn-light"  %>
        </div>
      <% end %>

    </div>
  </div>
</div>


