<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Mail</th>
      <th>Address</th>
      <th>Score</th>
      <th>Semester</th>
      <th>Career</th>
      <th>Comment</th>
      <th>Leader first</th>
      <th>Leader second</th>
      <th>Mail 2</th>
      <th>Phone 2</th>
      <th>Age</th>
      <th>Birthday</th>
      <th>Link university</th>
      <th>Link data</th>
      <th>Identification</th>
      <th>Issued in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.phone %></td>
        <td><%= student.mail %></td>
        <td><%= student.address %></td>
        <td><%= student.score %></td>
        <td><%= student.semester %></td>
        <td><%= student.career %></td>
        <td><%= student.comment %></td>
        <td><%= student.leader_first %></td>
        <td><%= student.leader_second %></td>
        <td><%= student.mail_2 %></td>
        <td><%= student.phone_2 %></td>
        <td><%= student.age %></td>
        <td><%= student.birthday %></td>
        <td><%= student.link_university %></td>
        <td><%= student.link_data %></td>
        <td><%= student.identification %></td>
        <td><%= student.issued_in %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
