
<%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
<div class="row">
  <div class="col-md-10 offset-md-1  text-center">
    <h2 class="my-4">Practicantes</h2>
  </div>
  <div class="offset-md-1"></div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-1 text-left">
    <form>
      <div class="form-group">
        <label><%= t('action.search') %></label>
        <input name="fullname" placeholder="<%= t('workers.first_name') %>" value="<%=@search%>" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="submit" value="<%= t('action.search') %>" class="btn btn-primary my-2"/>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">No Identificación</th>
          <th scope="col" class="text-center">Telefono</th>
          <th scope="col" class="text-center">correo electronico </th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @students.each_with_index  do |student, index| %>
          <tr class="text-center">
            <td> <%= index + 1  %></td>
            <td class="text-center"><%= student.name + " " + student.last_name %></td>
            <td class="text-center"><%= student.identification %></td>
            <td class="text-center"><%= student.phone %></td>
            <td class="text-center"><%= student.mail %></td>
            <td class="text-center">

              <%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
              <%= link_to student_path(student) do  %>
              <%= @show_eye %>
                <% end %>

             <%= link_to  edit_student_path(student) do %>
                <%= @show_edit %>
                <% end %>
             <% end %>
            <%  if current_user.role_id == User.ADMINISTRATOR  %>
              <%= link_to student, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' }  do %>
                <%= @show_trash %>
              <% end %>
             <% end %>
            </td>
          </tr>

        <% end %>
        </tbody>
      </table>

      <br>
    </div>

    <div class="will_paginate">
      <%= will_paginate(@students, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </div>
  </div>


</div>
<div class="row justify-content-center">
  <div class="col-sm-12 d-flex justify-content-center">
    <%= link_to 'Nueva practicante', new_student_path , class: "btn btn-primary mr-2" %>
  </div>



</div>

<%= render "layouts/views_partials/button" %>

<% else %>
  <% route = "students" %>
  <%= render "layouts/views_partials/not_found", route: route %>
<% end %>