<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @student.mail %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Score:</strong>
  <%= @student.score %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @student.semester %>
</p>

<p>
  <strong>Career:</strong>
  <%= @student.career %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<p>
  <strong>Leader first:</strong>
  <%= @student.leader_first %>
</p>

<p>
  <strong>Leader second:</strong>
  <%= @student.leader_second %>
</p>

<p>
  <strong>Mail 2:</strong>
  <%= @student.mail_2 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @student.phone_2 %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Link university:</strong>
  <%= @student.link_university %>
</p>

<p>
  <strong>Link data:</strong>
  <%= @student.link_data %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @student.identification %>
</p>

<p>
  <strong>Issued in:</strong>
  <%= @student.issued_in %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
