<%= form_with(model: register_book, local: true) do |form| %>
  <% if register_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register_book.errors.count, "error") %> prohibited this register_book from being saved:</h2>

      <ul>
        <% register_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :offer_id %>
    <%= form.text_field :offer_id %>
  </div>

  <div class="field">
    <%= form.label :admin_control_id %>
    <%= form.text_field :admin_control_id %>
  </div>

  <div class="field">
    <%= form.label :create_user %>
    <%= form.number_field :create_user %>
  </div>

  <div class="field">
    <%= form.label :update_user %>
    <%= form.number_field :update_user %>
  </div>

  <div class="field">
    <%= form.label :destroy_user %>
    <%= form.number_field :destroy_user %>
  </div>

  <div class="field">
    <%= form.label :time_destroy %>
    <%= form.datetime_select :time_destroy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
