<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @register_book.offer_id %>
</p>

<p>
  <strong>Admin control:</strong>
  <%= @register_book.admin_control_id %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @register_book.create_user %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @register_book.update_user %>
</p>

<p>
  <strong>Destroy user:</strong>
  <%= @register_book.destroy_user %>
</p>

<p>
  <strong>Time destroy:</strong>
  <%= @register_book.time_destroy %>
</p>

<%= link_to 'Edit', edit_register_book_path(@register_book) %> |
<%= link_to 'Back', register_books_path %>
