<div class="row">
  <div class="offset-sm-1 col-sm-10 ">
    <div class="card card-margin">

      <div class="card-header">
        <h5 class="card-title">
          Datos
        </h5>
      </div>

      <%= bootstrap_form_with(model: type, local: true, html: { class: "forms-sample needs-validation", novalidate: true }) do |form| %>
        <div class="card-body">
          <% if type.errors.any? %>
            <div id="error_explanation" style="display: none">
              <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

              <ul>
                <% type.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.text_field :name, label: t('type.name') ,class: "form-control" , required: true%>
          </div>

          <% if @type.id? %>
            <div class="form-group">
              <h4><%= t('commons.disabled&enabled') %></h4>
              <label class="switch">
                <input type="checkbox" name="enable" id="enable" value="true" <%= @type.enable ? "checked='checked'":""%> >
                <span class="slider round"></span>
              </label>
            </div>
          <% end %>




        </div>

        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', types_path ,class: "btn btn-light btn-action"  %>

          <%# if @delete_ok == nil %>
          <%#= link_to 'Eliminar', type, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } %>
          <%# end %>

        </div>
      <% end %>

    </div>
  </div>
</div>




<script>

</script>









