<%= yield %>
<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card card-margin">

      <div class="card-header">
        <h5 class="card-title" style="display: inline-block">
          Datos
        </h5>
        <span class="float-right" style="display: inline-block">
          <%= link_to users_path,class: "btn btn-sm btn-outline-dark" do %>
          <i class="fas fa-long-arrow-alt-left pd-y-5"></i>
          <% end %>
        </span>
      </div>

      <%= bootstrap_form_with(model: user, local: true , html: { class: "forms-sample needs-validation", novalidate: true }) do |form| %>
        <div class="card-body">
          <% if user.errors.any? %>
            <div id="error_explanation" style="display: none">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <div class="row no-gutters">
            <div class="col-sm-12">
              <div class="form-group">
                <%= form.select(:role_id, options_for_select(@roles, user.role_id), {label:"Roles",:prompt => 'Selecciona un rol'},{class: "form-control" , required: true }) %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group pr-2">
                <%= form.text_field :first_name, label: t('workers.first_name') ,class: "form-control" , required: true %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= form.text_field :last_name, label: t('workers.last_name') ,class: "form-control" , required: true %>
              </div>
            </div>
          </div>


          <div class="row no-gutters">
            <div class="col-sm-12 pr-2">
              <div class="form-group">
                <%= form.email_field :email, label: t('workers.mail') ,class: "form-control" , required: true , autocomplete:"off" %>

              </div>
            </div>

            <div class="col-sm-12 pr-2">
              <div class="form-group">
                <%= form.password_field :password, label: 'Contraseña' ,class: "form-control" , autocomplete: "off"%>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <%= form.password_field :password_confirmation, label: 'confirmar contraseña' ,class: "form-control"%>
              </div>
            </div>
          </div>




          <% if @user.id? %>
            <div class="col-lg-12 text-center">
              <%= form.label "Cuenta activada" ,class:"pl-3" %> <br>
              <%= form.radio_button :deactivated, false , {label: 'Si' } %>
              <%= form.radio_button :deactivated, true , {label: 'No' } %>

            </div>
          <% end %>




        </div>

        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', users_path ,class: "btn btn-light btn-action"  %>


        </div>
      <% end %>

    </div>
  </div>
</div>







