<div class="row">
  <div class="offset-sm-3 col-sm-9">
    <div class="card card-margin">

      <div class="card-header">
        <h5 class="card-title">
          Datos
        </h5>
      </div>

      <%= form_with(model: user, local: true, class: "form-sample") do |form| %>
        <div class="card-body">
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= form.label :role_id, "Rol" %>
            <%= form.select(:role_id, options_for_select(@roles, user.role_id), {:prompt => 'Selecciona un rol'},{class: "form-control" }) %>
          </div>

          <div class="form-group">
            <%= form.label :email, "Nombre"%>
            <%= form.text_field :email,  class: "form-control" , required: true %>
          </div>

          <div class="form-group">
            <%= form.label :password, "Contraseña"%>
            <%= form.password_field :password,  class: "form-control" , required: true %>
          </div>

          <div class="form-group">
            <%= form.label :password, "Contraseña"%>
            <%= form.password_field :password_confirmation,  class: "form-control" , required: true %>
          </div>






        </div>

        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', users_path ,class: "btn btn-light btn-action"  %>

          <% if @delete_ok == nil %>
            <%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } %>
          <% end %>

        </div>
      <% end %>

    </div>
  </div>
</div>










