<div class="row">
  <div class="col-md-10 offset-md-1  text-center">
    <h2 class="my-4">Usuarios</h2>
  </div>
  <div class="offset-md-1"></div>
</div>

<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">correo electronico </th>
          <th scope="col" class="text-center">Roles</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each_with_index  do |user, index| %>
          <tr>
            <td> <%= index + 1  %></td>_
            <td class="text-center"><%= user.first_name.to_s + " " + user.last_name.to_s %></td>
            <td class="text-center"><%= user.email %></td>
            <td class="text-center">
             <% case user.role_id %>
             <% when User.ADMINISTRATOR %>
                Administrador
             <% when User.EDITOR %>
              Editor
             <% when User.AUTHOR %>
              Usuario
             <% else %>
                   No tiene rol asignado, este usuario no deberia existir
             <% end %>
           </td>
            <td></td>
            <td>
              <%= link_to 'Mostrar', user_path(user) %>
            </td>
            <td><%= link_to 'Editar', edit_user_path(user) %></td>
            <td>
              <%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } %>
            </td>
          </tr>

        <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-sm-12 d-flex justify-content-center">
    <%= link_to 'Nueva Usuario', create_navigator_path , class: "btn btn-primary mr-2" %>
  </div>



</div>