  <div class="row">
    <div class="offset-sm-3 col-sm-9">
      <div class="card card-margin">

        <div class="card-header">
          <h5 class="card-title">
            Datos
          </h5>
        </div>

        <%= form_with(model: modality, local: true, class: "form-sample") do |form| %>
          <div class="card-body">
            <% if modality.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(modality.errors.count, "error") %> prohibited this modality from being saved:</h2>

                <ul>
                  <% modality.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>


            <div class="form-group">
              <%= form.label :name, "Nombre"%>
              <%= form.text_field :name,  class: "form-control" , required: true %>
            </div>

            <div class="form group">
              <%= form.label :description, "descripcion" %>
              <%= form.text_area :description , class:"form-control", required:true %>
            </div>
          </div>

          <div class="card-footer bg-white">
            <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
            <%= link_to 'Regresar', modalities_path ,class: "btn btn-light btn-action"  %>
          </div>


      </div>
    </div>
  </div>
  <% end %>




