<%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
<div class="row">
  <div class="offset-sm-1 col-sm-10  text-center">
    <h2 class="my-4">Modalidades</h2>
  </div>
</div>

<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr class="text-center">
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
        </tr>
        </thead>

        <tbody>
        <% @modalities.each_with_index  do |modality| %>

          <tr class="text-center">
            <td><%= modality.name %></td>
            <td>
              <% if modality.enable %>
                Habilitado
              <% else %>
                Deshabilitado
              <% end %>

            </td>
            <td>
              <%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
                <%= link_to  modality_path(modality) do %>
                  <%= @show_eye %>
                <% end %>

                <%= link_to  edit_modality_path(modality) do %>
                  <%= @show_edit %>
                <% end %>
              <% end %>

              <% if current_user.role_id == User.ADMINISTRATOR  %>
                <%= link_to  modality, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } do %>
                  <%= @show_trash %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>
    </div>

    <div class="will_paginate">
      <%= will_paginate(@modalities, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </div>

  </div>
</div>
<div class="row justify-content-center no-gutters">
  <div class="col-lg-12 d-flex justify-content-center">
    <%= link_to 'Nuevo modalidad', new_modality_path , class: "btn btn-primary" %>

  </div>
</div>
  <%= render "layouts/views_partials/button" %>
<%else %>
  <% route = "modalities" %>
  <%= render "layouts/views_partials/not_found", route: route %>
<% end %>