<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card card-margin">

      <div class="card-header">
        <% route = "companies" %>
        <%= render "layouts/views_partials/link_to_back" , route: route  %>
      </div>

      <%= bootstrap_form_with(model: company, local: true, html: { class: "forms-sample needs-validation", novalidate: true }) do |form| %>
        <div class="card-body">
          <% if company.errors.any? %>
            <div id="error_explanation" style="display: none">
              <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

              <ul>
                <% company.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <div class="form-group">
            <%= form.text_field :identification, label: t('company.identification'), class: "form-control" , required: true %>
          </div>

          <div class="form-group">
            <%= form.text_field :name, label: t('company.name') ,class: "form-control" , required: true %>
          </div>

          <div class="form-group">
            <div class="row no-gutters">
              <div class="col-lg-6 pr-2">
                <%= form.text_field :phone,label: t('company.phone') ,  class: "form-control" %>
              </div>
              <div class="col-lg-6">
                <%= form.email_field :email,label: t('company.email') , class: "form-control"  %>
              </div>
            </div>

          </div>

          <div class="form-group">
              <%= form.text_field :address, label: t('company.address') , class: "form-control" %>
          </div>


          <% if @company.id? %>
            <div class="form-group d-flex justify-content-center">
              <div><label for=""> Habilitado / inhabilitado </label> </div>
            </div>
            <div class="form-group d-flex justify-content-center">

               <label class="switch">
                <input type="checkbox" name="enable" id="enable" value="true" <%= @company.enable ? "checked='checked'":""%> >
                <span class="slider round"></span>
              </label>
            </div>
          <% end %>






        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', companies_path ,class: "btn btn-light btn-action"  %>

        </div>


        </div>
        </div>
        </div>
        </div>
      <% end %>




