
<%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
<div class="row">
  <div class="col-md-10 offset-md-1  text-center">
    <h2 class="my-4">Entidad</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-2  text-left">
    <form>
      <div class="form-row my-4">
        <div style="width: 80%; display: inline-block">
        <input name="search" placeholder="<%= t('workers.first_name') %>" value="<%=@search%>" class="form-control py-1"/>
        </div>
        <div style="display: inline-block; width: 10%">
          <button type="submit" value="<%= t('action.search') %>" style="margin-top: 4px; margin-left: 4px;" class="btn btn-outline-primary btn-sm py-1">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Identificación</th>
          <th scope="col" class="text-center">Telefono</th>
          <th scope="col" class="text-center">Dirección</th>
          <th scope="col" class="text-center"></th>
        </tr>
        </thead>

        <tbody>
        <% @companies.each_with_index  do |company| %>

          <tr>
            <td class="text-center"><%= company.name %></td>
            <td class="text-center"><%= company.identification %></td>
            <td class="text-center"><%= company.phone %></td>
            <td class="text-center"><%= company.address %></td>
            <td class="text-center">
              <%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
                 <%= link_to company_path(company) do %>
                  <span class="btn btn-sm btn-outline-success"> <i class="far fa-eye"></i> </span>
                 <% end %>
                 <%= link_to edit_company_path(company) do %>
                   <span class="btn btn-sm btn-outline-primary"> <i class="far fa-edit"></i> </span>
                <% end  %>
                <% end %>
              <%  if current_user.role_id == User.ADMINISTRATOR %>
                 <%= link_to  company, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } do %>
                    <span class="btn btn-sm btn-outline-danger">  <i class="fas fa-trash-alt"></i> </span>
                 <% end %>
              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>
    </div>

    <div class="will_paginate">
      <%= will_paginate(@companies, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </div>

  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-12 d-flex justify-content-center">
    <%= link_to 'Nuevo Entidad', new_company_path , class: "btn btn-primary mr-2" %>
  </div>
</div>

  <%= render "layouts/views_partials/button" %>
<% else %>
  <% route = "companies" %>
  <%= render "layouts/views_partials/not_found", route: route %>
<% end %>
