
<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card card-margin">

      <%= bootstrap_form_with(model: admin_control, local: true,html: { class: "forms-sample needs-validation", novalidate: true }) do |form|  %>
        <div class="card-body p-0">
          <% if admin_control.errors.any? %>
            <div id="error_explanation" style="display: none">
              <h2><%= pluralize(admin_control.errors.count, "error") %> prohibited this admin_control from being saved:</h2>

              <ul>
                <% admin_control.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div id="accordion">


            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 style="display: inline-block" class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <a  class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Datos Personales
                  </a>
                </h5>
                <% route = "admin_controls" %>
                <%= render "layouts/views_partials/link_to_back_form_especial" , route: route %>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                  <div class="row no-gutters">

                    <div class="col-lg-4 pr-2">
                      <div class="form-group">
                        <% if admin_control.id? %>
                          <%= form.text_field :code,label:t('admin_control.code') ,class: "form-control"   %>
                        <% else %>
                          <%= form.text_field :code, label:t('admin_control.code'),class: "form-control" , value: @suggest_code.to_i  %>
                        <% end %>
                      </div>
                    </div>

                    <div class="col-lg-8">
                      <div class="form-group">
                        <%= form.select(:concept_id, options_for_select(@concepts, admin_control.concept_id), {label: t('admin_control.concept'),:prompt => 'Selecciona un concepto'},{class: "form-control " ,required:true }) %>
                      </div>
                    </div>

                  </div>

                  <div class="row no-gutters">
                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.select(:theme_id, options_for_select(@themes, admin_control.theme_id), {label:t('admin_control.theme'),:prompt => 'Selecciona un asunto'},{class: "form-control " }) %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:type_id, options_for_select(@types, admin_control.type_id), {label:t('admin_control.type'),:prompt => 'Selecciona un tipo'},{class: "form-control " }) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-lg-12">
                      <div class="form-group">
                           <%= form.select(:item_id, options_for_select(@items, admin_control.item_id), {:prompt => 'Selecciona un asunto'},{class: "form-control " }) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.text_field :start_date ,{ label:t('admin_control.start_date'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd"} %>
                      </div>
                    </div>


                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.text_field :final_date, { label: t('admin_control.finish_date'), class: 'datepicker form-control' , placeholder: "yyyy-mm-dd"} %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:tracking_type, options_for_select(@tracking_types, admin_control.tracking_type), {label:t('admin_control.tracking_type'),:prompt => 'Selecciona un tipo'},{class: "form-control " }) %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:state, options_for_select(@states, admin_control.state), {label:t('admin_control.state'),:prompt => 'Selecciona un Estado'},{class: "form-control " , required: true }) %>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
            </div>



            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                   Entidad y localidad
                  </a>
                </h5>
              </div>

              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="row no-gutters">
                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.select(:company_id, options_for_select(@companies, admin_control.company_id), {label:t('admin_control.company'),:prompt => 'Selecciona una entidad'},{class: "selectpicker" , required: true , data: { live_search: 'true' }}) %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <div id="content-dropdown">
                        <%= form.select(:city_id, options_for_select(@cities, admin_control.city_id), {label:t('admin_control.location'),:prompt => 'Selecciona una ciudad'},{class: "select2" , required: true , data: { live_search: 'true' }}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseFive">
                    Rol Responsable y Personal a Cargo
                  </a>
                </h5>
              </div>

              <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  <div class="row no-gutters">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <div id="content-dropdown">
                        <%= form.select(:responsible_function_id, options_for_select(@responsible_functions, admin_control.responsible_function_id), {label: "Rol de Responsable",:prompt => 'Selecciona un tipo'},{class: "form-control select2" }) %>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="form-group">
                        <div id="content-dropdown">
                        <%= label_tag :manager_elements , "Responsable" %>
                        <%= select_tag "manager_elements[]", options_for_select(@workers, admin_control.manager_elements),:prompt => 'Escoger un elemento' , class: "form-control select2", multiple: true , data: { live_search: 'true' } %>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <% if @admin_control.id? %>
                        <table class="table">
                          <tr>
                            <th colspan="2" class="text-center">Integrantes</th>
                          </tr>
                          <% @manager_has_name.each  do |manager| %>
                            <tr>
                              <td class="text-center">
                                <%= manager[0] %>
                              </td>
                              <td class="text-center">
                                <%= link_to  :controller => "admin_controls", :action => "destroy_manager", :admin_control_id => @admin_control.id, worker_id: manager[1],data: { confirm: '¿Esta seguro que desea eliminarlo?' } do  %>
                                  <span class="btn btn-outline-danger"> <i class="fas fa-trash-alt"></i> </span>
                                <% end %>
                              </td>
                          <%end %>
                          </tr>
                        </table>
                      <% end %>
                    </div>

                    <!-- Ayudantes -->

                    <div class="col-lg-12 pr-2">
                      <div class="form-group">
                        <div id="content-dropdown">
                        <%= label_tag :supports_elements , "Ayudantes" %>
                        <%= select_tag "support_elements[]", options_for_select(@workers, admin_control.support_elements),:prompt => 'Escoger un elemento' , class: "form-control select2", multiple: true , data: { live_search: 'true' } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <% if @admin_control.id? %>
                        <table class="table">
                          <tr>
                            <th colspan="2" class="text-center">Integrantes</th>
                          </tr>
                          <% @support_has_name.each  do |support| %>
                            <tr>
                              <td class="text-center">
                                <%= support[0] %>
                              </td>
                              <td class="text-center">
                                <%= link_to  :controller => "admin_controls", :action => "destroy_support", :admin_control_id => @admin_control.id, worker_id: support[1],data: { confirm: '¿Esta seguro que desea eliminarlo?' } do  %>
                                  <span class="btn btn-outline-danger"> <i class="fas fa-trash-alt"></i> </span>
                                <% end %>
                              </td>
                          <%end %>
                          </tr>
                        </table>
                      <% end %>
                    </div>

                    <!-- final de ayudantes -->




                  </div>
                </div>
              </div>
            </div>


              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Estado
                    </a>
                  </h5>
                </div>

                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">


                    <div class="row no-gutters">


                      <div class="col-lg-12">
                        <table class="table table-bordered" id="list">
                          <thead>
                          <tr>
                            <th colspan="2">
                              <span class="text-center">Lista de actividades</span>
                      <% if @admin_control.id? %>
                              <%= link_to admin_control_path(@admin_control.id) do %>
                                <span class="float-right btn  btn-outline-primary btn-sm">
                                <i class="far fa-plus-square"></i>
                                     </span>
                              <% end %>
                      <% end %>
                            </th>

                          </tr>
                          </thead>

                          <tbody>
                          <div class="text-center">
                            <span class="percent"><%= "#{@percent_completed}%" %></span>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @percent_completed %>%" aria-valuenow="<%= @percent_completed %>" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <% @admin_control.lists.each do |list| %>
                            <tr>
                              <td style="width:50%; text-align: center"><%= list.description %></td>
                              <td style="width:50%; text-align: center">
                                <% if list.completed %>
                                     <span style="font-size: 15px" class="text-success">
                                    <i class="fas fa-check"></i>
                                     </span>
                                <% else %>
                                    <span style="font-size: 15px" class="text-danger">
                                       <i class="fas fa-times"></i>
                                    </span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>




                      <div class="col-lg-12">
                        <%= form.rich_text_area :description_advance , label: t('admin_control.description_advance')%>
                      </div>


                      <div class="col-lg-12">

                        <%= form.text_field :link_drive, label:t('admin_control.link_drive'),class: "form-control" %>
                      </div>




                    </div>



                  </div>
                </div>
              </div>




















          </div><!-- accordion -->



        </div>

        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', admin_controls_path ,class: "btn btn-light btn-action"  %>


        </div>
      <% end %>


    </div>
  </div>
  <div class="offset-sm-2"></div>
</div>
<%= render "layouts/views_partials/button" %>













