<p id="notice"><%= notice %></p>

<h1>Admin Controls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_controls.each do |admin_control| %>
      <tr>
        <td><%= link_to 'Show', admin_control %></td>
        <td><%= link_to 'Edit', edit_admin_control_path(admin_control) %></td>
        <td><%= link_to 'Destroy', admin_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Control', new_admin_control_path %>
