<div class="row">
  <div class="col-md-10 offset-md-1  text-center">
    <h2 class="my-4">Seguimiento Administrador</h2>
  </div>
  <div class="offset-md-1"></div>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <form class="forms-sample">
      <div class="form-row">
        <div class="col-sm-12 mb-1 text-center">
          <div style="width: 20%; display: inline-block">Mes</div>
          <div style="width: 35%; display: inline-block">Responsable</div>
          <div style="width: 35%; display: inline-block">Compañia</div>

        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12 mb-4" id="index-admin_control">
         <div  style = "display: inline-block; width:30%">
           <%= select_tag "search", options_for_select(@months, @search), class: "form-control bg-input"%>
         </div>
          <div style = "display: inline-block; width:30%">
            <input name="responsible" placeholder="<%= t('workers.first_name') %>" value="<%=@responsible%>" class="form-control"/>
          </div>
          <div style = "display: inline-block; width:30%">
            <input name="company" placeholder="<%= t('workers.first_name') %>" value="<%=@company%>" class="form-control"/>
        </div>
          <button type="submit" value="<%= t("action.search")%>" class="btn btn-outline-primary btn-sm my-2">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>



    </form>
  </div>

</div>

<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Rol responsable</th>
          <th scope="col" class="text-center">Concepto</th>
          <th scope="col" class="text-center">Asunto</th>
          <th scope="col" class="text-center">Item</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">Compañia</th>
          <th colspan=""></th>
        </tr>
        </thead>

        <tbody>
        <% @admin_controls.each do |admin_control| %>
          <tr>
            <td class="text-center"><%= admin_control.code %> </td>
            <td class="text-center"><%= admin_control.responsible_function.name %></td>
            <td class="text-center"><%= admin_control.concept.name %></td>
            <td class="text-center"><%= admin_control.theme.name %></td>
            <td class="text-center"><%= admin_control.item.name %></td>
            <td class="text-center"><%= show_state_admin_control(admin_control) %></td>
            <td class="text-center"><%= admin_control.company.name %></td>
            <td class="text-center">
              <%= link_to  admin_control_path(admin_control) do %>
                <span class="btn btn-sm btn-outline-success"> <i class="far fa-eye"></i> </span>
              <% end %>
              <% if (admin_control.user.email == current_user.email) || (current_user.role_id == User.ADMINISTRATOR) || (current_user.role_id == User.EDITOR) %>
                <%= link_to  edit_admin_control_path(admin_control) do %>
                  <span class="btn btn-sm btn-outline-primary"> <i class="far fa-edit"></i> </span>
                <% end %>
              <% end %>
              <% if (admin_control.user.email == current_user.email) || (current_user.role_id == User.ADMINISTRATOR) %>
              <%= link_to  admin_control, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } do %>
                <span class="btn btn-sm btn-outline-danger">  <i class="fas fa-trash-alt"></i> </span>
              <% end %>
              <% end %>
            </td>
             </tr>

        <% end %>
        </tbody>
      </table>

<div class="will_paginate">
  <%= will_paginate(@offers, :renderer => WillPaginate::ActionView::LinkRenderer) %>
</div>

      <br>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-10 offset-sm-1 d-flex justify-content-center">
    <%= link_to 'Nuevo Seguimiento Administrador', new_admin_control_path , class: "btn btn-primary mr-2" %>
  </div>



</div>
<%= render "layouts/views_partials/button" %>