<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card card-margin">


          <div id="accordion">


            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  <a class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Avances
                  </a>
                </h5>
              </div>

              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">


                <div class="card-body">
               <%  if current_user.role_id == User.ADMINISTRATOR || @admin_control.user_id == current_user.id  || current_user.role_id == User.EDITOR %>
                  <table class="table table-bordered">
                    <thead>

                    </thead>

                    <tbody>
                    <tr>
                      <td colspan="3">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @percent_completed %>%" aria-valuenow="<%= @percent_completed %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>

                      <td colspan="3">


                              <%= form_tag(:controller => "lists", :action => "create_items", :method => "get", local: true, class:"forms-sample form-inline") do %>
                          <a style="position: relative;top: 1px;" href="/admin_controls/<%= @admin_control.id %>/edit#list" class="btn btn-sm btn-outline-dark"><i class="fas fa-long-arrow-alt-left pd-y-5"></i></a>
                                <%= text_field_tag :description,"", class: "form-control" , style: 'width: 75%; display: inline-block; position:relative; top: 4px' %>
                                <%= hidden_field_tag :admin_control_id ,"#{@admin_control.id}" , class: "form-control" %>
                                <button type="submit" class="btn btn-outline-success mr-2 btn-action" style="width: 150px">Agregar tarea</button>

                              <% end %>
                      </td>
                    </tr>
                    <% @admin_control.lists.each do |list| %>
                      <% if list.completed %>
                        <tr class="table-secondary">
                          <td class="striker"><%= link_to  list.description,  edit_admin_control_list_path(@admin_control.id,list) %></td>
                          <td>
                            <%= form_with(model: [@admin_control,list]) do |f| %>
                              <%= f.text_field :admin_control_id,value: @admin_control.id , type: 'hidden' %>
                              <%= f.text_field :description , type: 'hidden' %>
                              <%= f.check_box :completed,:checked => false,:style => 'visibility: hidden' %>
                              <%= f.submit "Incompleto",class: 'btn btn-outline-secondary btn-sm' %>
                            <% end %>
                          </td>
                          <td><%= link_to :controller => "lists", :action => "destroy", :id => list.id ,:admin_control_id => @admin_control.id ,
                                          :confirm => "Are you sure?", :method => :delete  do %>
                              <span class="btn btn-outline-danger"> <i class="fas fa-trash-alt"></i> </span>
                              <% end %>
                              </td>
                        </tr>
                      <% else %>
                        <tr>
                          <td><%= list.description %></td>
                          <td>
                            <%= form_with(model: [@admin_control,list], id:'form') do |f| %>
                              <%= f.text_field :admin_control_id,value: @admin_control.id , type: 'hidden' %>
                              <%= f.text_field :description , type: 'hidden' %>
                              <%= f.check_box :completed,:checked => true,:style => 'visibility: hidden' %>
                              <%= f.submit "Completar",class: 'btn btn-outline-secondary btn-sm' %>
                            <% end %>
                          </td>
                          <td><%= link_to :controller => "lists", :action => "destroy", :id => list.id ,:admin_control_id => @admin_control.id ,
                                          :confirm => "Are you sure?", :method => :delete do   %>
                              <span class="btn btn-outline-danger"> <i class="fas fa-trash-alt"></i> </span>
                              <% end %>
                              </td>


                        </tr>

                      <% end %>

                    <% end %>
                    </tbody>
                  </table>

                <% else %>

                  <table class="table table-bordered" id="list">
                    <thead>
                    <tr>
                      <th colspan="2">
                        <span class="text-center">Lista de actividades</span>
                        <% if @admin_control.id? %>
                          <%= link_to admin_control_path(@admin_control.id) do %>
                                <span class="float-right btn  btn-outline-primary btn-sm">
                                <i class="far fa-plus-square"></i>
                                     </span>
                          <% end %>
                        <% end %>
                      </th>

                    </tr>
                    </thead>

                    <tbody>
                    <% @admin_control.lists.each do |list| %>
                      <tr>
                        <td style="width:50%; text-align: center"><%= list.description %></td>
                        <td style="width:50%; text-align: center">
                          <% if list.completed %>
                                     <span style="font-size: 15px" class="text-success">
                                    <i class="fas fa-check"></i>
                                     </span>
                          <% else %>
                                    <span style="font-size: 15px" class="text-danger">
                                       <i class="fas fa-times"></i>
                                    </span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                <% end %>
                </div>
                 </div>

            </div>



            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Datos Generales
                  </a>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table center-aligned-table table-striped">

                      <tr>
                        <th class="bg-success text-light"><strong>Codigo</strong></th>
                        <td class="bg-success text-light"><%= @admin_control.code %></td>
                      </tr>

                      <tr>
                        <th><strong>Concepto</strong></th>
                        <td class="td-white"><%= @admin_control.concept.name %></td>
                      </tr>

                      <tr>
                        <th><strong>Asunto:</strong></th>
                        <td class="td-white"><%= @admin_control.theme.name %> </td>
                      </tr>

                      <tr>
                        <th><strong>Tipo:</strong></th>
                        <td class="td-white"><%= @admin_control.type.name %> </td>
                      </tr>


                      <tr>
                        <th><strong>Item Especifico:</strong></th>
                        <td class="td-white"><%= @admin_control.item.name %></td>
                      </tr>

                      <tr>
                        <th><strong>Fecha de inicio</strong></th>
                        <td class="td-white"><%= @admin_control.start_date %></td>
                      </tr>

                      <tr>
                        <th><strong>Fecha Final</strong></th>
                        <td class="td-white"><%= @admin_control.final_date %></td>
                      </tr>

                      <tr>
                        <th><strong>Tipo de seguimiento</strong></th>
                        <td class="td-white"><%= @show_tracking_type %></td>
                      </tr>


                      <tr>
                        <th><strong>Estado</strong></th>
                        <td class="td-white"><%= @show_state %></td>
                      </tr>

                      <tr>
                        <th><strong>Compañia</strong></th>
                        <td class="td-white"><%= @admin_control.company.name %> </td>
                      </tr>

                      <tr>
                        <th><strong>localizacion</strong></th>
                        <td class="td-white"><%= @admin_control.city.state.name %> - <%= @admin_control.city.name %> </td>
                      </tr>


                    </table>
                  </div>
                </div>
              </div>
            </div>



            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Roles,estado e información adicional
                  </a>
                </h5>
              </div>

              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table center-aligned-table table-striped">
                      <tr>
                        <th><strong>Rol Responsable</strong></th>
                        <td class="td-white"><%= @admin_control.responsible_function.name %></td>
                      </tr>
                      <tr>
                        <th><strong>Responsable</strong></th>
                        <td>
                          <ul style="list-style: none" class="text-center">
                            <% if @manager_has_name.present? %>
                            <% @manager_has_name.each  do |manager| %>
                              <li class="my-2" style="font-size: 14px; text-transform: capitalize; font-weight: 600">
                                <%= manager[0] %>
                              </li>
                            <% end %>
                              <% end %>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th><strong>Apoyo</strong></th>
                        <td>
                         <ul style="list-style: none" class="text-center">
                           <% @support_has_name.each  do |support| %>
                           <li class="my-2" style="font-size: 14px; text-transform: capitalize; font-weight: 600">
                             <%= support[0] %>
                           </li>
                           <% end %>
                         </ul>


                        </td>

                      </tr>

                      <tr>
                        <th><strong>Avance</strong></th>
                        <td class="td-white"><%=  @admin_control.advance %></td>
                      </tr>

                      <tr>
                        <th><strong>Proceso</strong></th>
                        <td><%= @admin_control.process %></td>
                      </tr>

                      <tr>
                        <th><strong>Descripcion del avance</strong></th>
                        <td><%= @admin_control.description_advance %></td>
                      </tr>

                      <tr>
                        <th><strong>Link del proceso</strong></th>
                        <td><%= @admin_control.link_process %></td>
                      </tr>

                      <tr>
                        <th><strong>Link del drive</strong></th>
                        <td><%= @admin_control.link_drive %></td>
                      </tr>




                    </table>
                  </div>
                </div>
                <div class="card-footer bg-white text-center">

                  <%= link_to 'Editar', edit_admin_control_path(@admin_control) ,class: "btn btn-primary mr-2" %>
                  <%= link_to 'Regresar', admin_controls_path, class: "btn btn-light "  %>

                </div>
              </div>
            </div>









          </div><!-- accordion -->



        </div>



    </div>
  </div>
  <div class="offset-sm-2"></div>
























