
<div class="row">
  <div class="offset-sm-1 col-sm-10 ">
    <div class="card card-margin">

      <div class="card-header">
        <h5 class="card-title">
          Datos
        </h5>
      </div>

      <%= bootstrap_form_with(model: states_student, local: true, html: { class: "forms-sample needs-validation", novalidate: true }) do |form| %>
        <div class="card-body">
          <% if states_student.errors.any? %>
            <div id="error_explanation" style="display: none">
              <h2><%= pluralize(states_student.errors.count, "error") %> prohibited this states_student from being saved:</h2>

              <ul>
                <% states_student.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
<div class="row no-gutters">
  <div class="col-sm-10 pr-2">
    <div class="form-group">
      <%= form.text_field :name, label: t('states_students.name') ,class: "form-control" , required: true %>
    </div>
  </div>
 <div class="col-sm-2">
   <div class="form-group">
    <%= form.color_field :color, label: t('states_students.color'), class: 'form-control', required: true %>
  </div>
 </div>
</div>


          <% if @states_student.id? %>
            <div class="form-group">
              <h4><%= t('commons.disabled&enabled') %></h4>
              <label class="switch">
                <input type="checkbox" name="enable" id="enable" value="true" <%= @states_student.enable ? "checked='checked'":""%> >
                <span class="slider round"></span>
              </label>
            </div>
          <% end %>




        </div>

        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', states_students_path ,class: "btn btn-light btn-action"  %>


        </div>
      <% end %>

    </div>
  </div>
</div>

