<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card card-margin">
     <%= bootstrap_form_with(model: offer, local: true , html: { class: "forms-sample needs-validation", novalidate: true }) do |form| %>
     <% if offer.errors.any? %>
    <div id="error_explanation" style="display: none">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

        <div id="accordion">


          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0" style="display: inline-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Datos Generales
                </a>
              </h5>

              <% route = "offers" %>
              <%= render "layouts/views_partials/link_to_back_form_especial" , route: route %>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">

                <div class="row no-gutters">

                  <div class="col-lg-4 pr-2">
                    <div class="form-group">

                      <% if offer.id? %>
                        <%= form.text_field :code, label: t('offer.code') ,class: "form-control", required:true   %>
                      <% else %>
                        <%= form.text_field :code, label: t('offer.code'),class: "form-control" , value: @suggest_code , required:true %>
                      <% end %>
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="form-group">
                      <%= form.select(:worker_id , options_for_select(@workers, offer.worker_id), {label:t('offer.leader') ,:prompt => 'Selecciona un lider'},{class: "selectpicker" , required: true , data: { live_search: 'true' }}) %>

                    </div>
                  </div>

                </div>

                <div class="row no-gutters">
                  <div class="col-lg-6 pr-2">
                    <div class="form-group">

                      <%= form.select(:modality_id, options_for_select(@modalities, offer.modality_id), {label: t('offer.modality'),:prompt => 'Selecciona un modalidad',class: "form-control " ,required: true  }) %>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.select(:status, options_for_select(@status, offer.status), {label: t('offer.status'),:prompt => '',class: "form-control", required: true  }) %>
                    </div>
                  </div>
                </div>




              </div>
            </div>
          </div>



          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Fechas
                </a>
              </h5>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">

                <div class="row">
                  <div class="col-lg-6 offset-3">
                    <div class="form-group">
                      <%= form.text_field :publication_date , {label: t('offer.date_published'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , readonly: false , required: true}  %>
                    </div>
                  </div>
                </div>


                <fieldset>
                  <legend>Fecha De Presentacion De Observaciones</legend>
                <div class="row no-gutters">

                  <div class="col-lg-6 pr-2">
                    <div class="form-group">
                      <%= form.text_field :date_submission_obs, {label: t('offer.date_finish') ,class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , required: true} %>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= form.select(:status_obs, options_for_select(@status_yes_not, offer.status_obs), { label: 'Entregado',:prompt => ''},{class: "form-control " , required: true }) %>
                    </div>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-sm-12 col-md-12 text-center">
                    <h3>Tiempo restante</h3>
                    <% if @offer.id? %>
                    <p id="demo" class="mb-4 count-down"></p>
                      <% end %>
                  </div>
                </div>


                <% if @offer.id? %>
                <div class="row no-gutters display-none">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= form.label :remaining_days_obs, "Dias restantes", class: "display-none  pr-2" %>
                      <% if @remaining_days_obs != nil || "" %>
                        <%= form.hidden_field :remaining_days_obs, class: "form-control" , value: @remaining_days_obs  %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= form.label :remaining_hour_obs, "Horas restante" , class: "display-none"%>
                      <% if @remaining_hours_obs != nil || "" %>
                      <%= form.hidden_field :remaining_hour_obs, class: "form-control" , value: @remaining_hours_obs   %>
                        <% end %>
                    </div>
                  </div>


                </div>
                <% end  %>
                </fieldset>


                <fieldset>
                  <legend> publicacion de informe de observaciones</legend>
                  <div class="row no-gutters">

                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.text_field :date_publication_observations_report,{ label: t('offer.date_finish'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , required: true } %>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:status_obs_report, options_for_select(@status_yes_not, offer.status_obs_report), {label: 'Entregado',:prompt => ' '},{class: "form-control ", required:true}) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-12 text-center">
                      <h3>Tiempo restante</h3>
                      <% if @offer.id? %>
                      <p id="obs_report" class="mb-4 count-down"></p>
                        <% end %>
                    </div>
                  </div>


                  <% if @offer.id? %>
                    <div class="row no-gutters display-none">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_day_obs_report, "Dias restantes", class: "display-none  pr-2" %>
                          <%= form.hidden_field :remaining_day_obs_report, class: "form-control" , value: @remaining_days_obs_report  %>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_hour_obs_report, "Horas restante" , class: "display-none"%>
                          <%= form.hidden_field :remaining_hour_obs_report, class: "form-control" , value:@remaining_hours_obs_report  %>
                        </div>
                      </div>


                    </div>
                  <% end  %>
                </fieldset>

                <!-- DeadLine Offer -->

                <fieldset>
                  <legend> Fecha limite para presentacion de ofertas</legend>
                  <div class="row no-gutters">

                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.text_field :date_deadline_submission_offers, { label: t('offer.date_finish'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , required: true } %>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:status_submission_offers, options_for_select(@status_yes_not, offer.status_submission_offers), {label: 'Entregado',:prompt => ''},{class: "form-control " }) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-12 text-center">
                      <h3>Tiempo restante</h3>
                      <% if @offer.id? %>
                      <p id="deadline_offer" class="mb-4 count-down"></p>
                        <% end  %>
                    </div>
                  </div>


                  <% if @offer.id? %>
                    <div class="row no-gutters display-none">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_day_submission_offers, "Dias restantes", class: "display-none  pr-2" %>
                          <%= form.hidden_field :remaining_day_submission_offers, class: "form-control" , value: @remaining_days_dead_sub_offers  %>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_hour_submission_offers, "Horas restante" , class: "display-none"%>
                          <%= form.hidden_field :remaining_hour_submission_offers, class: "form-control" , value: @remaining_hours_dead_sub_offers  %>
                        </div>
                      </div>


                    </div>
                  <% end  %>
                </fieldset>

                <!-- date_offer_evaluation_report  -->

                <fieldset>
                  <legend>Publicación de informe de evaluación de ofertas</legend>
                  <div class="row no-gutters">

                    <div class="col-lg-6 pr-2">
                      <div class="form-group">

                        <%= form.text_field :date_offer_evaluation_report, { label: t('offer.date_finish'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , required: true } %>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:status_offer_evaluation_report, options_for_select(@status_yes_not, offer.status_offer_evaluation_report), {label: 'Entregado',:prompt => ' '},{class: "form-control " , required: true}) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-12 text-center">
                      <h3>Tiempo restante</h3>
                      <% if @offer.id? %>
                      <p id="offer_e_report" class="mb-4 count-down"></p>
                        <% end %>
                    </div>
                  </div>


                  <% if @offer.id? %>
                    <div class="row no-gutters display-none">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_day_offer_evaluation_report, "Dias restantes", class: "display-none  pr-2" %>
                          <%= form.hidden_field :remaining_day_offer_evaluation_report, class: "form-control" , value: @remaining_days_dead_sub_offers  %>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_hour_offer_evaluation_report, "Horas restante" , class: "display-none"%>
                          <%= form.hidden_field :remaining_hour_offer_evaluation_report, class: "form-control" , value: @remaining_hours_dead_sub_offers  %>
                        </div>
                      </div>


                    </div>
                  <% end  %>
                </fieldset>

<!-- date_obs_offer_-->

                <fieldset>
                  <legend>observaciones al informe de evaluacion de ofertas</legend>
                  <div class="row no-gutters">

                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.text_field :date_obs_offer_evaluation_report, { label: t('offer.date_finish'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , required: true } %>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:status_obs_offer_evaluation_report, options_for_select(@status_yes_not, offer.status_obs_offer_evaluation_report), {label: 'Entregado',:prompt => ' '},{class: "form-control " }) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-12 text-center">
                      <h3>Tiempo restante</h3>
                      <% if @offer.id %>
                      <p id="obs_offer_e_report" class="mb-4 count-down"></p>
                        <% end %>
                    </div>
                  </div>


                  <% if @offer.id? %>
                    <div class="row no-gutters display-none">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_day_obs_offer_evaluation_report, "Dias restantes", class: "display-none  pr-2" %>
                          <%= form.hidden_field :remaining_day_obs_offer_evaluation_report, class: "form-control" , value: @remaining_obs_days_offer_e_report  %>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_obs_hours_offer_e_report, "Horas restante" , class: "display-none"%>
                          <%= form.hidden_field :remaining_hour_obs_offer_evaluation_report, class: "form-control" , value: @remaining_obs_hours_offer_e_report  %>
                        </div>
                      </div>


                    </div>
                  <% end  %>
                </fieldset>

                <!-- date_acceptance_offers -->

                <fieldset class="">
                  <legend style="text-transform: lowercase">FECHA DE ACEPTACIÓN DE LAS OFERTAS</legend>
                  <div class="row no-gutters">

                    <div class="col-lg-6 pr-2">
                      <div class="form-group">
                        <%= form.text_field :date_acceptance_offers, { label: t('offer.date_finish'),class: 'datepicker form-control' , placeholder: "yyyy-mm-dd" , required: true } %>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <%= form.select(:status_acceptance_offers, options_for_select(@status_yes_not, offer.status_acceptance_offers), {label: 'Entregado',:prompt => ''},{class: "form-control " ,required: true }) %>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-12 text-center">
                      <h3>Tiempo restante</h3>
                      <% if @offer.id? %>
                      <p id="acceptance_offers" class="mb-4 count-down"></p>
                      <% end %>
                    </div>
                  </div>


                  <% if @offer.id? %>
                    <div class="row no-gutters display-none">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_day_acceptance_offers, "Dias restantes", class: "display-none  pr-2" %>
                          <%= form.hidden_field :remaining_day_acceptance_offers, class: "form-control" , value: @remaining_d_acceptance_offers  %>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <%= form.label :remaining_hour_acceptance_offers, "Horas restante" , class: "display-none"%>
                          <%= form.hidden_field :remaining_hour_acceptance_offers, class: "form-control" , value: @remaining_h_acceptance_offers  %>
                        </div>
                      </div>


                    </div>
                  <% end  %>
                </fieldset>

              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseFive">
                  Informacion de la entidad y valores presupuestales
                </a>
              </h5>
            </div>

            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <div class="row no-gutters">
                  <div class="col-lg-8 pr-2">
                    <div class="form-group">
                      <%= form.select(:company_id , options_for_select(@companies, offer.company_id), {label:t('offer.company'),:prompt => 'Selecciona una compañia'},{class: "selectpicker" , required: true , data: { live_search: 'true' }}) %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= form.select(:city_id , options_for_select(@cities, offer.city_id), {label:t('offer.location'),:prompt => 'Selecciona un ciudad'},{class: "selectpicker" , required: true , data: { live_search: 'true' }}) %>
                    </div>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-lg-6 pr-2">
                    <%= form.text_field :budget_value , label: t('offer.budget_value'),class: "form-control" , required: true %>
                  </div>
                  <div class="col-lg-6 pr-2">
                    <%= form.text_field :presented_value, label: t('offer.presented_value'),class: "form-control" , required: true %>
                  </div>

                </div>


                <div class="row no-gutters">
                  <div class="col-lg-12">
                            <%= form.text_field :official_page , label: t('offer.official_page'),class: "form-control", required: true, required: true %>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-6 pr-2">

                    <%= form.text_field :email_company ,label:t('offer.email_company') , class: "form-control" , required: true%>
                  </div>
                  <div class="col-lg-6  pr-2">
                    <%= form.text_field :email_alternative , label:t('offer.email_company'),class: "form-control", required: true %>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-12">
                    <%= form.text_field :link_document ,label:t('offer.link_document') ,class: "form-control", required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>























        </div><!-- accordion -->




        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', offers_path ,class: "btn btn-light btn-action"  %>
        </div>
   <% end %>
    </div>
  </div>
</div>


<%= render "layouts/views_partials/button" %>


<script>
var validate_null = function(id){
    return !!document.getElementById(`${this.id}`)
}
  year_obs = <%= @year %>
  month_obs =  <%= @month %>
  day_obs = <%= @day %>
  var obs =  function (y,m,d)  {
        var countDownDate = new Date(`${m} ${d}, ${y} 00:00:00`).getTime();
        var x = setInterval(function () {
            var now = new Date().getTime();
            var distance = countDownDate - now;


// Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
if (!!document.getElementById("demo")) {
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}
        }, 1000);
    };
  obs(year_obs,month_obs,day_obs);


/*______*/
  year_obs_report = <%= @year_obs_report %>
  month_obs_report = <%= @month_obs_report %>
  day_obs_report = <%= @day_obs_report %>
  obs_report =  function (y,m,d)  {

                  var countDownDate_obs_report = new Date(`${m} ${d}, ${y} 00:00:00`).getTime();
                  var x = setInterval(function () {
                      var now = new Date().getTime();
                      var distance = countDownDate_obs_report - now;

// Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
                      if (!!document.getElementById("obs_report")) {
                          document.getElementById("obs_report").innerHTML = days + "d "
                              + hours + "h "
                              + minutes + "m "
                              + seconds + "s ";

                          // If the count down is over, write some text
                          if (distance < 0) {
                              clearInterval(x);
                              document.getElementById("obs_report").innerHTML = "EXPIRED";
                          }
                      }
                  }, 1000);
              };
  obs_report(year_obs_report,month_obs_report,day_obs_report);

  /* ----------*/

  year_deadline_offer = <%= @year_deadline_sub_offers %>
  month_deadline_offer = <%=  @month_deadline_sub_offers %>
  day_deadline_offer = <%= @day_deadline_sub_offers %>

  deadline_sub_offer =  function (y,m,d)  {
                  var countDownDate_obs_report = new Date(`${m} ${d}, ${y} 00:00:00`).getTime();
                  var x = setInterval(function () {
                      var now = new Date().getTime();
                      var distance = countDownDate_obs_report - now;

// Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
                  if (!!document.getElementById("deadline_offer")){
                      document.getElementById("deadline_offer").innerHTML = days + "d " + hours + "h "
                          + minutes + "m " + seconds + "s ";

                      // If the count down is over, write some text
                      if (distance < 0) {
                          clearInterval(x);
                          document.getElementById("deadline_offer").innerHTML = "EXPIRED";
                      }
                  }
                  }, 1000);
              };
  deadline_sub_offer(year_deadline_offer,month_deadline_offer,day_deadline_offer);


  /**/


  year_offer_e_report = <%= @year_offer_evaluation_report %>
      month_offer_e_report = <%=   @month_offer_evaluation_report %>
          day_offer_e_report = <%= @day_offer_evaluation_report %>

  offer_e_report =  function (y,m,d)  {
                  var countDownDate_obs_report = new Date(`${m} ${d}, ${y} 00:00:00`).getTime();
                  var x = setInterval(function () {
                      var now = new Date().getTime();
                      var distance = countDownDate_obs_report - now;

// Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
                   if (!!document.getElementById("offer_e_report")) {
                       document.getElementById("offer_e_report").innerHTML = days + "d " + hours + "h "
                           + minutes + "m " + seconds + "s ";

                       // If the count down is over, write some text
                       if (distance < 0) {
                           clearInterval(x);
                           document.getElementById("offer_e_report").innerHTML = "EXPIRED";
                       }
                   }
                  }, 1000);
              };
  offer_e_report(year_offer_e_report, month_offer_e_report,day_offer_e_report);




  /******** **********/

  year_obs_offer_evaluation_report = <%= @year_obs_offer_evaluation_report %>
  month_obs_offer_evaluation_report = <%= @month_obs_offer_evaluation_report %>
  day_obs_offer_evaluation_report = <%= @day_obs_offer_evaluation_report %>

 obs_offer_e_report =  function (y,m,d)  {
          var countDownDate_obs_report = new Date(`${m} ${d}, ${y} 00:00:00`).getTime();
          var x = setInterval(function () {
              var now = new Date().getTime();
              var distance = countDownDate_obs_report - now;

// Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
         if (document.getElementById("obs_offer_e_report")) {
             document.getElementById("obs_offer_e_report").innerHTML = days + "d " + hours + "h "
                 + minutes + "m " + seconds + "s ";

             // If the count down is over, write some text
             if (distance < 0) {
                 clearInterval(x);
                 document.getElementById("obs_offer_e_report").innerHTML = "EXPIRED";
             }
         }
          }, 1000);
      };
 obs_offer_e_report(year_obs_offer_evaluation_report, month_obs_offer_evaluation_report,day_obs_offer_evaluation_report);


 /******************/


  year_acceptance_offers = <%= @year_acceptance_offers %>
      month_acceptance_offers = <%= @month_acceptance_offers  %>
          day_acceptance_offers = <%= @day_acceptance_offers  %>

              acceptance_offers  =  function (y,m,d)  {
                  var countDownDate_obs_report = new Date(`${m} ${d}, ${y} 00:00:00`).getTime();
                  var x = setInterval(function () {
                      var now = new Date().getTime();
                      var distance = countDownDate_obs_report - now;

// Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
                     if (!!document.getElementById("acceptance_offers")) {
                         document.getElementById("acceptance_offers").innerHTML = days + "d " + hours + "h "
                             + minutes + "m " + seconds + "s ";

                         // If the count down is over, write some text
                         if (distance < 0) {
                             clearInterval(x);
                             document.getElementById("acceptance_offers").innerHTML = "EXPIRED";
                         }
                     }
                  }, 1000);
              };
  acceptance_offers(year_acceptance_offers , month_acceptance_offers ,day_acceptance_offers );


</script>


