<div class="row">
  <div class="col-md-10 offset-md-1  text-center">
    <h2 class="my-4">Seguimientos licitaciones</h2>
  </div>
  <div class="offset-md-1"></div>
</div>

<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center"><%= t('offer.leader') %></th>
          <th scope="col" class="text-center"><%= t('offer.modality') %></th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">Fecha de publicación</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @offers.each do |offer| %>


          <tr>
            <% if offer.status_acceptance_offers == "Si"  %>
              <td class="text-center bg-light-success"><%= offer.code %> </td>
            <% else %>
              <% if  (offer.date_acceptance_offers.to_date - Date.today) <= 0  %>
              <td class="text-center bg-light-danger"><%= offer.code %> </td>
                <% elsif (offer.date_acceptance_offers.to_date - Date.today) <= 7 %>
              <td class="text-center bg-light-warning"><%= offer.code %> </td>
                <% elsif (offer.date_acceptance_offers.to_date - Date.today) >= 8 %>
                <td class="text-center"><%= offer.code %> </td>
                <% end %>
            <% end %>
            <td class="text-center"><%= offer.worker.full_name %> </td>
            <td class="text-center"><%= offer.modality.name %>
            <td class="text-center"><%= offer.status %></td>
            <td class="text-center"><%= show_date(offer.publication_date) %></td>

            <td>
              <%= link_to 'Mostrar', offer_path(offer) %>
            </td>
            <%# if (admin_control.user.email == current_user.email) || (current_user.role_id == User.ADMINISTRATOR) %>
            <td><%= link_to 'Editar', edit_offer_path(offer) %></td>
              <td>
                <%= link_to 'Eliminar', offer, method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' } %>
              </td>
          </tr>
            <%# end %>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate(@offers, :renderer => WillPaginate::ActionView::LinkRenderer) %>

      <br>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-10 offset-sm-1 d-flex justify-content-center">
    <%= link_to 'Nuevo Seguimiento Administrador', new_offer_path , class: "btn btn-primary mr-2" %>
  </div>



</div>