<div class="row">
  <div class="col-lg-8 offset-lg-2" style="padding-top: 30px">
    <nav>
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos Personales</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Caracteristica y funcionalidades</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card card-margin">
          <div class="card-header">
            <h5 class="card-title mb-0">
              Datos Personales
            </h5>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table center-aligned-table table-striped">

                  <tr>
                    <th class="bg-success text-light"><strong>Tipo de Documento</strong></th>
                    <td class="bg-success text-light"><%= @worker.type_identification.name %></td>
                  </tr>

                <tr>
                  <th><strong>No de Identificación:</strong></th>
                  <td class="td-white"><%= @worker.identification %></td>
                </tr>

                <tr>
                  <th><strong>Nombres:</strong></th>
                  <td class="td-white"><%= @worker.first_name %> </td>
                </tr>

                <tr>
                  <th><strong>Apellidos:</strong></th>
                  <td class="td-white"><%= @worker.last_name %> </td>
                </tr>


                <tr>
                  <th><strong>telefono 1:</strong></th>
                  <td class="td-white"><%= @worker.phone %></td>
                </tr>

                <tr>
                  <th><strong>telefono 2:</strong></th>
                  <td class="td-white"><%= @worker.phone_2 %></td>
                </tr>


                <tr>
                  <th><strong>Correo Electronico </strong></th>
                  <td class="td-white"><%= @worker.email %></td>
                </tr>


              </table>
            </div>
          </div>

          <div class="card-footer bg-white text-center">

            <%= link_to 'Editar', edit_worker_path(@worker) ,class: "btn btn-primary mr-2" %>
            <%= link_to 'Regresar', workers_path, class: "btn btn-light "  %>

          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="card card-margin">
          <div class="card-header">
            <h5 class="card-title mb-0">
              Funcionalidades y caracteristica
            </h5>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table center-aligned-table table-striped">
                <tr>
                  <th><strong>rol 1</strong></th>
                  <td class="td-white"><%= @worker.profile.name %></td>
                  <th><strong>rol 2</strong></th>
                  <td class="td-white"><%=  @characteristic_two %></td>
                </tr>
                <tr>
                  <th><strong>rol 3</strong></th>
                  <td class="td-white"><%=  @characteristic_three %></td>
                  <th><strong>rol 4</strong></th>
                  <td class="td-white"><%=  @characteristic_four %></td>
                </tr>

                <tr>
                  <th><strong>funciones</strong></th>
                  <td><%= @worker.function %></td>
                </tr>




              </table>
            </div>
          </div>

          <div class="card-footer bg-white text-center">

            <%= link_to 'Editar', edit_worker_path(@worker) ,class: "btn btn-primary mr-2" %>
            <%= link_to 'Regresar', workers_path, class: "btn btn-light "  %>

          </div>

        </div>
      </div>





  </div>
</div>
</div>