<% if current_user.role_id == User.ADMINISTRATOR %>
<div class="row">
  <div class="col-sm-10 offset-sm-1  text-center">
    <h3 class="my-4">Nuevo Usuario</h3>
  </div>
</div>
<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card card-margin">

      <div class="card-header">
        <h5 class="card-title" style="display:inline-block;">
          Datos
        </h5>
        <span class="float-right" style="display: inline-block">
          <%= link_to users_path,class: "btn btn-sm btn-outline-dark" do %>
          <i class="fas fa-long-arrow-alt-left pd-y-5"></i>
          <% end %>
        </span>
      </div>

      <%= bootstrap_form_tag(:controller => "navigators", :action => "create_user", :method => "post", local: true , html: { class: "forms-sample needs-validation", novalidate: true , autocomplete: "off" }) do  %>
        <div class="card-body">


          <div class="form-row">
            <div class="col-sm-12 my-3">
              <%= label_tag "Roles" %>
              <%= select_tag "role_id", options_for_select(@roles, ""),:prompt => "Selecciona un rol" , class: "form-control", required: true %>
            </div>
          </div>


          <div class="form-row">
            <div class="col-sm-6">
              <%= label_tag "Nombres" %>
              <%= text_field_tag "first_name","",class: "form-control", required: true ,autocomplete: "off" %>
            </div>
            <div class="col-sm-6">
              <%= label_tag "Apellidos" %>
              <%= text_field_tag "last_name","",class: "form-control", required: true , autocomplete: "off" %>
            </div>
          </div>


          <div class="form-row">
            <div class="col-sm-12">
              <%= label_tag "correo electronico" %>
              <%= email_field_tag "email","",{class: "form-control", required: true}  %>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-6">
              <%= label_tag "Contraseña" %>
            <%= password_field_tag "password","",class: "form-control", required: true ,autocomplete: "off" %>
          </div>
            <div class="col-sm-6">
                <%= label_tag "Confirmar Contraseña" %>
                <%= password_field_tag "password_confirmation","",class: "form-control", required: true , autocomplete: "off" %>
            </div>
          </div>





            <div class="col-lg-12 text-center">
              <label for=""> Cuenta activada </label> <br>
              si <%= radio_button_tag :deactivated, false  %>
              no <%= radio_button_tag :deactivated, true  %>
            </div>





        </div>

        <div class="card-footer bg-white">
          <button type="submit" class="btn btn-primary mr-2 btn-action">Guardar</button>
          <%= link_to 'Regresar', users_path ,class: "btn btn-light btn-action"  %>
        </div>
      <% end %>


    </div>
  </div>
</div>
<% else %>
  <% route = "users" %>
  <%= render "layouts/views_partials/not_found" , route: route %>
<% end %>






