<!DOCTYPE html>
<html>
  <head>
    <title>ControlAndMonitoring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <%= render "layouts/shared/nav_two" %>
      </div>
    </div>
    <%= render "layouts/shared/notice" %>
    <%= yield %>
  </div>


  </body>
</html>
