<!DOCTYPE html>
<html>
  <head>
    <title>ControlAndMonitoring</title>
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js' ,'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <%= render "layouts/shared/nav_two" %>
      </div>
    </div>
    <%= render "layouts/shared/notice" %>
    <%= yield %>
  </div>>
  <script src="https://kit.fontawesome.com/7cbd18e5ce.js" crossorigin="anonymous"></script>
  </body>
</html>
